@{
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<link href="~/Content/temlate3/style.css" rel="stylesheet" />

<ul class="breadcrumb">
    <li><a href="#">Models/</a> <span class="divider"></span></li>
    
</ul>
<div class="top-sellers">
    <div class="container">
        @*<h3>Pulsar</h3>*@
        <img src="~/Images/template3/pulsar.png" class="type-img" />
        <u></u>
        <div class="seller-grids">
            <div class="col-sm-3 col-xs-3 col-md-2 col-lg-2 seller-grid">
                <a href="products.html"><img src="~/Images/template3/ts3.png" alt="" /></a>
                <h4><a href="products.html">Pilsar-130</a></h4>
             
            </div>
            <div class="col-sm-3 col-xs-3 col-md-2 col-lg-2 seller-grid">
                <a href="products.html"><img src="~/Images/template3/ts3.png" alt="" /></a>
                <h4><a href="products.html">Pilsar-150</a></h4>

            </div>
            <div class="col-sm-3 col-xs-3 col-md-2 col-lg-2 seller-grid">
                <a href="products.html"><img src="~/Images/template3/ts3.png" alt="" /></a>
                <h4><a href="products.html">Pilsar-180</a></h4>

            </div>
            <div class="col-sm-3 col-xs-3 col-md-2 col-lg-2 seller-grid">
                <a href="products.html"><img src="~/Images/template3/ts3.png" alt="" /></a>
                <h4><a href="products.html">Pilsar-220</a></h4>

            </div>
           
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        @*<h3>Discovery</h3>*@
        <img src="~/Images/template3/discovery.png" class="type-img"/>
        <div class="seller-grids">
            <div class="col-sm-3 col-xs-3 col-md-2 col-lg-2 seller-grid">
                <a href="products.html"><img src="~/Images/template3/ts3.png" alt="" /></a>
                <h4><a href="products.html">Discovery-130</a></h4>

            </div>
            <div class="col-sm-3 col-xs-3 col-md-2 col-lg-2 seller-grid">
                <a href="products.html"><img src="~/Images/template3/ts3.png" alt="" /></a>
                <h4><a href="products.html">Discovery-150</a></h4>

            </div>
            
            <div class="col-sm-3 col-xs-3 col-md-2 col-lg-2 seller-grid">
                <a href="products.html"><img src="~/Images/template3/ts3.png" alt="" /></a>
                <h4><a href="products.html">Discovery-220</a></h4>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <img src="~/Images/template3/discovery.png" class="type-img" />
        <div class="seller-grids">
            <div class="col-sm-3 col-xs-3 col-md-2 col-lg-2 seller-grid">
                <a href="products.html"><img src="~/Images/template3/ts3.png" alt="" /></a>
                <h4><a href="products.html">Platina-130</a></h4>

            </div>
            <div class="col-sm-3 col-xs-3 col-md-2 col-lg-2 seller-grid">
                <a href="products.html"><img src="~/Images/template3/ts3.png" alt="" /></a>
                <h4><a href="products.html">Platina-150</a></h4>

            </div>
            

            <div class="clearfix"></div>
        </div>
    </div>
</div>

