
@{
    ViewBag.Title = "SingleItem";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<link href="~/Content/temlate3/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/temlate3/style.css" rel="stylesheet" />
<link href="~/Content/temlate3/form.css" rel="stylesheet" type="text/css" media="all" />
<!--etalage-->
<link rel="stylesheet" href="~/Content/temlate3/etalage.css">





<div class="single-sec">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Models</a> <span class="divider"></span></li>
            <li class="active">Pulsar 135</li>
        </ul>
        <!-- start content -->
        @* <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 det">  *@
        <div class="col-md-12  det">
            <div class="single_left col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="grid images_3_of_2">
                    <ul id="etalage">
                        <li>
                            <a href="optionallink.html">


                                <img class="etalage_thumb_image" src="~/Images/template3/ss1.jpg" class="img-responsive" />
                                <img class="etalage_source_image" src="~/Images/template3/ss1.jpg" class="img-responsive" title="" />
                            </a>
                        </li>
                        <li>
                            <img class="etalage_thumb_image" src="~/Images/template3/ss2.jpg" class="img-responsive" />
                            <img class="etalage_source_image" src="~/Images/template3/ss2.jpg" class="img-responsive" title="" />
                        </li>
                        <li>
                            <img class="etalage_thumb_image" src="~/Images/template3/ss4.jpg" class="img-responsive" />
                            <img class="etalage_source_image" src="~/Images/template3/ss4.jpg" class="img-responsive" />
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="single-right col-xs-12 col-sm-12 col-md-7 col-md-offset-1 col-lg-7">
                <h3 style="opacity:.6">Discover 125cc </h3>
                <h5>100 cc | 82 kmph | 10.9bhp</h5>
                <div class="item-list">
                    <ul>
                        <li>Wolf Eyed Headlamp With Twin Pilot Lamps</li>
                        <li>Tubeless Tyres</li>
                        <li>Engine Kill Switch</li>
                        <li>Digital Twin Spark Ignition (DTS-i) Engine</li>
                        
                    </ul>
                </div>
                <div class="cost">
                    <div class="prdt-cost">
                        <ul>
                            
                            <li>Sellling Price:</li>
                            <li class="active">Rs 168,500</li>
                            <a href="#">Easy Payements</a>
                        </ul>
                    </div>
                    
                    <div class="clearfix"></div>
                </div>
               
                <div class="single-bottom1">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Overview" data-toggle="tab">Overview</a></li>
                        <li><a href="#Specification" data-toggle="tab">Specification</a></li>
                        <li><a href="#Features" data-toggle="tab">Features</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="Overview">
                            <p>The Bajaj Discover 125 is one amongst the first Discover models that the company had introduced to the Indian market. The bike 
                            offered now is similar to the older version of the Discover model, but gets new features and styling bits.</p>
                        </div>
                        <div class="tab-pane fade" id="Specification">
                            <div class="panel panel-default">
                              
                                    <div class="list-group">
                                        <a href="#" class="list-group-item active">
                                            Cras justo odio
                                        </a>
                                        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                                        <a href="#" class="list-group-item">Morbi leo risus</a>
                                        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                                        <a href="#" class="list-group-item">Vestibulum at eros</a>
                                    </div>
                              
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Engine</div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">Engine cc <b> 178.23 cc</b></li>
                                        <li class="list-group-item">Max power <b> 16.78 bhp @@ 8500 rpmc</b></li>
                                        <li class="list-group-item">Cooling system <b> Air Cooled</b></li>
                                        <li class="list-group-item">starting mechanism <b> self</b></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Fuel consumption</div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">Engine cc <b> 178.23 cc</b></li>
                                        <li class="list-group-item">Max power <b> 16.78 bhp @@ 8500 rpmc</b></li>
                                        <li class="list-group-item">Cooling system <b> Air Cooled</b></li>
                                        <li class="list-group-item">starting mechanism <b> self</b></li>
                                    </ul>
                                </div>
                            </div>
                           </div>
                        <div class="tab-pane fade" id="Features">
                            <div class="item-list">
                                <ul>
                                    <li>Wolf Eyed Headlamp With Twin Pilot Lamps</li>
                                    <li>Tubeless Tyres</li>
                                    <li>Engine Kill Switch</li>
                                    <li>Digital Twin Spark Ignition (DTS-i) Engine</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>


        <div class="recommendation">
            <div >
                <div >
                    <h3>Popular Models</h3>
                </div>
                <div class="bikes-grids">
                    <ul id="flexiselDemo1">
                        <li>
                            <a href="products.html"><img src="~/Images/template3/ts1.jpg" alt="" /></a>
                            <h4><a href="products.html">King Size Bed</a></h4>
                            <p>ID: KS3989</p>
                        </li>
                        <li>
                            <a href="products.html"><img src="~/Images/template3/r2.jpg" alt="" /></a>
                            <h4><a href="products.html">Elite Diwan Seater</a></h4>
                            <p>ID: KS3989</p>
                        </li>
                        <li>
                            <a href="products.html"><img src="~/Images/template3/r3.jpg" alt="" /></a>
                            <h4><a href="products.html">Dior Corner Sofa</a></h4>
                            <p>ID: KS3989</p>
                        </li>
                        <li>
                            <a href="products.html"><img src="~/Images/template3/r4.jpg" alt="" /></a>
                            <h4><a href="products.html">Alia Modular Sofa</a></h4>
                            <p>ID: KS3989</p>
                        </li>
                        <li>
                            <a href="products.html"><img src="~/Images/template3/r5.jpg" alt="" /></a>
                            <h4><a href="products.html">King Size Bed</a></h4>
                            <p>ID: KS3989</p>
                        </li>
                    </ul>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/template3/menu_jquery.js"></script>
<script src="~/Scripts/template3/simpleCart.min.js"> </script>
<script src="~/Scripts/template3/jquery.etalage.min.js"></script>
<script src="~/Scripts/template3/jquery.flexisel.js"></script>
<script src="~/Scripts/template3/jquery.jscrollpane.min.js"></script>

<script>
    $(window).load(function () {
       
    });
    jQuery(document).ready(function ($) {
        $("#flexiselDemo1").flexisel({
            visibleItems: 5,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 2
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 3
                }
            }
        });
        $('#etalage').etalage({
            thumb_image_width: 300,
            thumb_image_height: 400,
            source_image_width: 900,
            source_image_height: 1200,
            show_hint: true,
            click_callback: function (image_anchor, instance_id) {
                alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
            }
        });

    });
</script>